html, body {
	height: 95vh;
	background-color: black;
	color: white;
	overflow: hidden;
}

hr {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	margin: 0px;
	padding: 0px;
}
